@import "variables";

.bookmark-item {
	border-bottom: 1px solid $light-grey;
}

.bookmark-item img {
	height: 24px;
}

.bookmark-title a {
	font-weight: 700;
	color: $soft-black !important;
	font-size: 16px;
}

.bookmark-url {
	color: $flash-green;
}

.bookmark-description {
	font-size: 14px;
	color: $medium-grey;
}

.editable {
	border-bottom: 1px dotted #000;
}

.bookmark-item input {
	min-width: 100% !important;
	outline: 0;
	border: none;
}