/* BODY */

#body {
	background-color: #f4f4f4;
	font-family: 'Lora', serif;
}

#body .container {
	margin-top: 30px;
}

a {
	color: #000;
}


h1, h2, h3, h4, h5, h6, .sidebar, .btn {
	font-family: 'Roboto', sans-serif;
}


.badge {
	background-color: #FFEB3B !important;
	color: #000 !important; 
}


/* SIDEBAR */

.sidebar {
	list-style: none;
}

.sidebar-brand {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 30px;
}

.sidebar .mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: #FFEB3B;
}

.sidebar-item {
	margin-bottom: 20px;
	font-weight: 4	00;
}

.sidebar-item i {
	margin-right: 7px;
}

.sidebar-item a {
	color: #000;
}

.sidebar-item a:hover {
	color: #000;
}

/* bright yellow #FFEB3B https://fontpair.co/ */


/* BOOKMARKS */

.bookmark-item {
	background-color: #ffffff;
	margin-bottom: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-radius: 5px;
	border: 1px solid #F0F0F0;
}

.bookmark-item-actions a {
	text-decoration: none;
}

.bookmark-item-actions a:hover {
	text-decoration: none;
}

.bookmark-item i {
	margin-right: 5px;
	color: #000;
}

.bookmark-item i.active {
	margin-right: 5px;
	color: #08e8de;
}

/* FORM */


.form-control {
	border-color: #F0F0F0 !important;

}

input.form-control:focus {
	box-shadow: 0 0 2px #FFEB3B;
}

.form-inline .form-control {
	min-width: 100%;
}

.form-inline .btn {
	min-width: 100%;
}


/* FAVICON */

.favicon {
	height: 22px;
}


/* BUTTONS */

.btn.btn-primary {
	background-color: #FFEB3B;
	color: #000;
	border-color: #FFEB3B;
}

.btn.btn-primary:hover {
	background-color: #FFEB3B;
	color: #000;
	border-color: #FFEB3B;
	opacity: 0.9;
}

.btn.disabled:hover {
	background-color: #FFEB3B;
	color: #000;
	border-color: #FFEB3B;
	opacity: 0.9;
}

