@import "variables";

/* DEFAULT */

body {
  padding-top: 60px;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}	

a:hover {
	text-decoration: none !important;
}	

.navbar.navbar-default {
	left: 26%;
	width: calc(100%-27%);
	background-color: #fff;
	border: none;
	border-bottom: 1px solid $bg-grey;
}

.navbar-nav.navbar-right {
	position: relative;
	left: -230px;
}

.navbar input, .navbar input:focus {
	border:none;
	outline: 0;
	box-shadow: none;
}


 .sidebar {
     position: fixed;
     top: 0;
     list-style: none;
     height: 100vh;
     /*background-color: $sidebar-grey;*/
 }

 .sidebar .navbar-brand {
 	color: $black;
 	font-weight: 900;
 	margin-left: -15px;
 	margin-bottom: 28px;
 }


.sidebar-item {
	margin-bottom: 10px;
}

 .sidebar-item a {
 	color: $grey;
 	font-weight: 500;

 }



	
/* BOOKMARK */

.bookmarkListItem {
	letter-spacing: .01em;
    word-spacing: .02em;
    margin: 20px 0 15px;
    background-color: #fff;
    border-bottom: 1px solid $bg-grey;
    padding-bottom: 20px;
}

.bookmarkClicks {
	text-align: center;
}

.clickCount {
	border: 1px solid $light-grey;
	/*padding: 0px 5px;*/
}

.clickCount i {
	font-size: 30px;
	position: relative;
	top: 8px;
	display: block;
	color: $grey;
	opacity: 0.4;
	align-self: center;
}

.bookmarkTitle, .bookmarkDescription {
	font-size: 16px;
	line-height: 22px;
}

.bookmarkTitle {
	font-weight: 600;	
}

.bookmarkTitle a {
	color: $black !important;
}

.bookmarkLink a {
	color: $bookmark-link-grey;
	font-weight: 600;
}

.bookmarkDescription {
	color: $grey;
}

.bookmarkImage img {
	max-height: 100px;
	max-width: 100px;


}
