

/* DEVISE */

.btn-form {
	width: 100%;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	font-weight: 700 !important;
}

.btn-form:hover {
	opacity: 0.5;
}

.btn.btn-primary:disabled, .btn.btn-primary:active, .btn.btn-primary:active:focus {
	background-color: #FFEB3B !important;
	border: none;
	outline: none !important;
}

/* DEVISE EDIT */

.form-inline .form-group {
	margin-bottom: 20px !important;
}

.edit-title {
	font-family: 'Roboto', sans-serif;
}
