$font-title: 'Roboto Mono', monospace;
$font-text: 'Roboto', sans-serif;

$dark-grey: #383838;
$medium-grey: #888888;

$light-grey: #F7F8F9;
$dark-blue: #363355;
$neon-blue: #2228CD;
$flash-blue: #414CC8;
$darker-grey: #868499;

/* DEVISE */

.btn-form {
	width: 100%;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	font-weight: 700 !important;
}

.btn-form:hover {
	opacity: 0.5;
}



/* DEVISE EDIT */

.form-inline .form-group {
	margin-bottom: 20px !important;
}

.edit-title {
	font-family: 'Roboto', sans-serif;
}
