
$black:#333;
$grey: #666;
$purple: rgb(82, 93, 249);
$green: #6dd345;
$blue: #1fa0ff;
$light-grey: #e9e9e9;
$bg-grey: #E5E5E5;
$sidebar-grey: #FCFCFC;
$bookmark-link-grey: #D1D1D1;	
$test-grey: rgb(245, 245, 245);
