<ul class="sidebar">
	<li class="sidebar-brand"><span class="mark">InstaPaper</span></li>
	<li class="sidebar-item"><i class="fa fa-heart"></i>  Liked</li>
	<li class="sidebar-item"><i class="fa fa-archive"></i>  Archived</li>
	<li class="sidebar-item"><i class="fa fa-sticky-note"></i>  Notes</li>
	<hr>
	<li class="sidebar-item">Ebay</li>
	<li class="sidebar-item">Work</li>
</ul>