<ul class="sidebar" id="sidebar-tags">
	<% @tags.each do |tag| %>
		<li class="sidebar-item">
			<%= link_to bookmarks_path(tag: tag.name) do %>
			 # <%= tag %> <span class="badge"><%= tag.taggings_count %></span> 
			<% end %>
		</li>
	<% end %>
</ul>

