<ul class="sidebar">
	<li class="sidebar-brand"><span class="mark">InstaPaper</span></li>
	<li class="sidebar-item">
		<%= link_to bookmarks_path do %>
			<i class="fa fa-igloo"></i> Home
		<% end %>
	</li>
	<li class="sidebar-item">
		<%= link_to liked_bookmarks_path do %>
			<i class="far fa-heart"></i> Liked
		<% end %>
	</li>
	<li class="sidebar-item"></li>
	<li class="sidebar-item"><i class="fa fa-archive"></i>  Archived</li>
	<li class="sidebar-item"><i class="far fa-comment-alt"></i>  Notes</li>
	<hr>
	<li class="sidebar-item">
		<%= link_to "#", data: {toggle: "modal", target: "#addBookmark"} do %>
			<i class="fa fa-plus"></i> Add Link
		<% end %>
	</li>
	<hr>
	<li class="sidebar-item">Ebay</li>
	<li class="sidebar-item">Work</li>
</ul>

